<ul class="nav">
  <% sections.forEach((section) => { %>
    <li class="nav__item">
      <a class="nav__link" href="#<%= encodeURIComponent(section.title) %>">
        <%= section.title %>
      </a>
      <%_ if (section.groups.length > 1) { _%>
      <ul>
        <%_ section.groups.forEach((group) => { _%>
        <li>
          <a class="nav__link" href="#<%= encodeURIComponent(group.title) %>"><%= group.title %></a>
        </li>
        <%_ }) _%>
      </ul>
      <%_ } _%>
    </li>
  <% }) %>
</ul>