<%# Font family example #%>
<div class="sample__font-family" style="font-family:<%= token.value %>;">
  <div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
  <div>abcdefghijklmnopqrstuvwxyz</div>
  <div>0123456789</div>
</div>
